.user-card
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
    @extend .alert-message;
    h4{
        margin-top: 0;
        margin-bottom: 5px;
    }
    p:last-child{
        margin-bottom: 0;
    }
}