.displayblock{
	display: block;
}
.fullwidth{
	width: 100%;
}
.mt{
	margin-top: 20px;
}
.mb15{
	margin-bottom: 15px !important;
}
.input-icon.right > i.icon {
  right: 30px;
}
.input-group .input-icon.right > i.icon {
  right: 10px;
}
.form-horizontal .input-group .form-group{
	margin: 0;
}
.form-horizontal .dropzone .dz-default.dz-message{
  margin-left: -155px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
  background-size: cover;
  width: 100%;
  height: 90px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon i{
    margin-right: 6px;
}
.zones_dropdown{
    padding: 8px 15px;
}
.zones_dropdown div.form-control{
  height: 34px;
}
.campaigns .form_datetime .form-control{
  font-size: 13px;
  padding: 4px;
}
.campaigns .form_datetime .input-group-btn{
  opacity: 0;
}
.campaigns .form_datetime .input-group-btn .btn{
  height: 0;
  padding: 0;
}
.filter .form_datetime .btn{
  height: 28px;
}
.filter .input-group.date.form_datetime{
  padding: 0;
}
.show_links.display {
  min-height: 34px;
  display: block;
}
.show_links {
  display: none;
}
.show_links a{
  display: none;
}
.show_links a.pull-right{
  display: block;
}
.form-group .control-label .fa-info-circle{
  color: gray;
}
.companyibeacons.tabbable-custom,
.companyibeacons.portlet-body.tabbable-custom > .tab-content{
  overflow: visible;
}
.zones_dropdown .tile,
.zones_dropdown .tile .tile-body{
  overflow: visible;
}
.zones_dropdown .tile .tile-body p{
  margin-bottom: 20px;
}
.zones_dropdown .tile .tile-body h3{
  margin-bottom: 15px;
}
.panel_beacons .tile .tile-body h3,
.panel_campaigns .tile .tile-body h3{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
}
.panel_beacons .tile .tile-body h4,
.panel_campaigns .tile .tile-body h4{
  line-height: 20px;
  font-size: 14px;
}
a.text-white{
  color: #fff;
}
.divider {
  height: 2px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #3D598C;
}
.zones_dropdown .tile .tile-body .not_allowed .bootstrap-select.bs-select{
  cursor: not-allowed;
}